{% extends "base.html" %}

{% block content %}

    {% if what %}
    <h3 align="center">What is it?</h3>
    <center style="font-size: 18px;">
        It is convenient service for sending emails directly from your frontend.<br>
        You don't need to write your own server! You can use this service for free!<br>
        Just register, get token and follow instructions below!<br>Have fun!
    </center>
    <br>
    {% endif %}

    <h3 align="center">How to send?</h3>
    <div style="font-family: monospace; margin-left: 5%;">
        url: "flask-ms.herokuapp.com/flask_send?token=&lt;your-token&gt;",<br>
        method: "POST",<br>
        data: {<br>
        &emsp;&emsp;&emsp;&emsp;<em>[optional_field_name: optional_filed_text],</em><br>
        }
    </div>
    <br>
    <h3 align="center">As a result you get message:</h3>
    <div style="font-family: monospace; margin-left: 5%;">
        <b>optional_field1_name:</b> optional_filed1_text<br>
        <b>optional_field2_name:</b> optional_filed2_text<br>
        <b>optional_field3_name:</b> optional_filed3_text<br>
        <b>...</b><br>
        received at: <em>UTC-date</em>
    </div>

{% endblock %}