{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-12">
            Profile: {{ current_user.email }}<br><br>
            Token: {{ current_user.token }}<br><br>
        </div>
        <div class="col-md-4 col-sm-12">
            <!-- Rounded switch -->
            Send email:<br>
            <form action="/set_mail_checkbox" method="POST">
                <label for="setter" class="switch">
                <input name="setter" id="setter" type="checkbox" onchange=this.form.submit() {{ checkbox_status }}>
                <span class="slider round"></span>
            </label>
            </form>
        </div>
    </div>
    <em>How to send messages? See <a href="{{ url_for('help_send') }}">there</a>.</em>
    <hr>


    <h3>Received messages:</h3>
    <ul class="list-group" id="messages">
        {% for message in messages %}
            <li class="list-group-item">
                {{ message.get_html() | safe }}
                <a href="{{ url_for('delete_message', message_id=message.id) }}">Delete</a>
            </li>
        {% endfor %}

    </ul>
{% endblock %}