{% extends "base.html" %}

{% block content %}
    <br>
    Profile: {{ current_user.email }}<br><br>
    Token: {{ current_user.token }}<br><br>

<!-- Rounded switch -->

    Send email:<br>
    <form action="/set_mail_checkbox" method="POST">
        <label for="setter" class="switch">
        <input name="setter" id="setter" type="checkbox" onchange=this.form.submit() {{ checkbox_status }}>
        <span class="slider round"></span>
    </label>
    </form>
    <hr>

    <h3>Received messages:</h3>
    <ul class="list-group" id="messages">
        {% for message in messages %}
            <li class="list-group-item">
                {{ message.get_html() | safe }}<br>
                <a href="{{ url_for('delete_message', message_id=message.id) }}">Delete</a>
            </li>
        {% endfor %}

    </ul>
{% endblock %}